
<header class="header">

  <div class="container header__container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="header__burger--container" id="burger">

      <div class="header__burger" > </div>
    </div>


    <nav class="menu" id="menu">
      <div class="menu__close">
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
      <ul class="menu__items">
        <li class="menu__item" >
          <span (click)="scrollTo(choose)" class="menu__link" >Пироженки</span>
        </li>
        <li class="menu__item" >
          <span (click)="scrollTo(aboutUs)" class="menu__link" >О нас</span>
        </li>
        <li class="menu__item" >
          <span (click)="scrollTo(order)" class="menu__link" >Оформить заказ</span>
        </li>
      </ul>
    </nav>

    <div class="number header__number">
      {{phoneNumber | phoneFormat}}
    </div>

    <div class="cart-container header__cart-container">
      <div class="product-number">
        {{cartService.count}}
      </div>
      <div class="cart header__cart">
        <img src="assets/images/cart.png" class="cart-img" alt="cart">
      </div>
      <div class="cart-price">
        {{cartService.price | currency}}
        <div class="cart__price--triangle">
          <img src="assets/images/triangle'.png" alt="triangle">
        </div>
      </div>
    </div>

  </div>

</header>


<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">
        Мягкие французские пироженки Macaroons
      </h1>

      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>

      <div class="main__action">
        <button class="btn main__btn" inputEffects (click)="scrollTo(choose)">
          Выбрать макарун
        </button>
      </div>
    </div>

    <div class="main__img">
      <img src="assets/images/main-img.png" alt="sweets">
    </div>
  </div>
</section>

<section class="advantages" #aboutUs>
  <div class="container advantages__container">
    <div class="advantages__banner">
      <div class="advantages__info">
        <h2 class="advantages__title">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>

        <div class="advantages__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов,
          красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей
          и
          улучшителей муки.
        </div>
      </div>

      <div class="advantages__img">
        <img src="assets/images/advantages-img.png" alt="Sweet">
      </div>
    </div>


    <div class="advantages__items">
      <div class="advantage" *ngFor="let advantage of advantages" >
        <div class="advantage__number">
          <span class="advantage__number--span"> {{advantage.number}} </span>
        </div>

        <div class="advantage__desc">
          {{advantage.title}}
        </div>

        <div class="advantage__text">
          {{advantage.desc | shortenText}}
        </div>
      </div>
    </div>
  </div>

</section>


<section class="choose" #choose>

  <div class="container choose__container">
    <div class="choose__title">
      Выберите свой макарун
    </div>

    <div class="choose__items">
      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCart($event, order)"></product>
    </div>
  </div>

</section>


<section class="order" #order>
  <div class="container order__container">

    <div class="fruit__animation--1">
      <img src="assets/images/fruit-animation-1.png" alt="fruit-animation">
    </div>
    <div class="fruit__animation--2">
      <img src="assets/images/fruit-animation-2.png" alt="fruit-animation">
    </div>
    <div class="order__img">
      <img src="assets/images/order-img.png" alt="order-sweets-img">
    </div>

    <div class="order__info">
      <h2 class="order__title">
        Закажите макарун!
      </h2>

      <div class="order__desc">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>

      <form action="" class="order__inputs">

        <div class="order__choice">
          <label for="choice" class="order__choice--label label">Ваш выбор</label>
          <input type="text" name="choice" id="choice" class="order__choice--input input"
                 placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
        </div>

        <div class="order__details">
          <label for="order-details" class="order-details--label label">Заполните данные для заказа</label>

          <div class="order__details--container">
            <input type="text" id="order-details" name="customer-name" class="order-details--input input"
                   placeholder="Ваше имя" [(ngModel)]="formValues.name">
            <input type="text" name="customer-number" class="order-details--input input"
                   placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">

            <button class="order__details--btn btn" (click)="createOrder()">
              Оформить заказ
            </button>

          </div>

        </div>

      </form>
    </div>
  </div>
</section>

<footer-component></footer-component>

<div class="container present__container " *ngIf="showPresent">
  <div class="present">
    <img src="assets/images/present.png" alt="present">
  </div>
  <div class="present__text">
    <p>
      Оформите заказ <br>
      и получите подарок!
    </p>
    <div class="present__text--triangle">
      <img src="assets/images/triangle'.png" alt="triangle">
    </div>
  </div>
</div>


